<div class="layout-shell">
  <button class="back-link" (click)="volver()">
    &#8592; Volver
  </button>

  <img src="logoSCORM.png" alt="Logotipo SCORM" class="logo-img">

  <h1>Panel Principal</h1>
  <p>Gestiona tus paquetes SCORM de forma sencilla y profesional.</p>

  <div class="panel-grid">
    <div class="panel-card">
      <button class="btn-outline" (click)="crearPaquete()">Crear nuevo paquete</button>
      <span>Inicia un proyecto desde cero</span>
    </div>

    <div class="panel-card">
      <button class="btn-outline" (click)="historial()">Historial y Borradores</button>
      <span>Gestiona y retoma tus paquetes creados o en desarrollo.</span>
    </div>

    <div class="panel-card">
      <button class="btn-outline" (click)="importarProyecto()">Importar proyecto (ZIP)</button>
      <span>Crea un proyecto nuevo a partir de un paquete SCORM.</span>
    </div>
  </div>
</div>
