# ---------------------------------------------
# ARCHIVOS COMPILADOS (Lo que genera Angular)
# ---------------------------------------------
/dist
/tmp
/out-tsc
/bazel-out

# ---------------------------------------------
# DEPENDENCIAS (Lo más pesado e importante)
# ---------------------------------------------
/node_modules

# ---------------------------------------------
# CACHÉ DE ANGULAR (Versiones modernas)
# ---------------------------------------------
/.angular/cache
.angular/

# ---------------------------------------------
# IDEs Y EDITORES (Configuraciones de tu PC)
# ---------------------------------------------
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code (Opcional: a veces se comparten las settings)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# ---------------------------------------------
# ARCHIVOS DE SISTEMA OPERATIVO
# ---------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------
# LOGS DE ERRORES
# ---------------------------------------------
npm-debug.log
yarn-error.log
test-report.xml